/.idea/workspace.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2025_22_47__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_25_02_2025_22_47_[Changes]/shelved.patch
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/Fastapi.iml
/fastapdb.db
