<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить задачу</title>
    <style>
        body {
            background-color: lightblue; /* Измените цвет на любой другой */
        }
    </style>
</head>
<style>
    h1 {
        color: blue;
    }
    h2 {
        color: green;
    }
    form {
    color: blue;
    }
    button {
    color: green;
    }
    input {
    color: green;
    }
</style>
<body>
    <h1>Добавление задачи</h1>
    <form action="/add-task" method="post">
        <label for="name">Имя задачи:</label>
        <input type="text" id="name" name="name" required>
        <p></p>
        <br>
        <label for="description">Описание задачи:</label>
        <textarea id="description" name="description" required></textarea>
        <p></p>
        <br>
        <label for="category">Категория задачи:</label>
        <input type="text" id="category" name="category" required>
        <p></p>
        <br>
        <label for="data_end_plan">Дата окончания задачи:</label>
        <input type="datetime-local" id="data_end_plan" name="data_end_plan" required>
        <p></p>
        <br>
        <label for="status">Статус задачи:</label>
        <select id="status" name="status" required>
            <option value="Planned">Запланировано</option>
            <option value="In Progress">В процессе</option>
            <option value="Completed">Выполнено</option>
        </select>
        <br>
        <p></p>
        <button type="submit">Добавить задачу</button>
    </form>
    <p></p>
<!--    <p><a href="/dashboard">Отмена</a></p>-->
    <form action="/dashboard" method="get">
        <input type="submit" value="Отмена">
    </form>
</body>
</html>
