<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Основная панель</title>
    <style>
        body {
            background-color: lightblue; /* Измените цвет на любой другой */
        }
    </style>
</head>
<style>
    h1 {
        color: blue;
    }
    h2 {
        color: green;
    }
    form {
    color: blue;
    }
    button {
    color: green;
    }
    input {
    color: green;
    }
</style>
<body>
    <h1>Основная панель</h1>
    <h2>Список задач</h2>
    <table border="2" cellpadding="8">
        <tr>
            <th>Название задачи</th>
            <th>Описание задачи</th>
            <th>Категория задачи</th>
            <th>Дата создания</th>
            <th>Дата окончания</th>
            <th>Статус задачи</th>
            <th>Возможные действия</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.category }}</td>
            <td>{{ task.data_created.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ task.data_end_plan.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ task.status }}</td>
            <td>
<!--                <a href="/edit-task/{{ task.id }}">Edit</a>-->
                <form action="/edit-task/{{ task.id }}" method="get" style="display:inline;">
                    <input type="submit" value="Edit">
                </form>
                <form action="/delete-task/{{ task.id }}" method="post" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Фильтр задач</h2>
    <form action="/filter-tasks" method="get">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date">
        <br>
        <p></p>
        <label for="name">Название Задачи:</label>
        <input type="text" id="name" name="name">
        <br>
        <p></p>
        <label for="status">Статус задачи:</label>
        <select id="status" name="status">
            <option value="">All</option>
            <option value="Planned">Запланировано</option>
            <option value="In Progress">В процессе</option>
            <option value="Completed">Выполнено</option>
        </select>
        <br>
        <p></p>
        <input type="submit" value="Фильтр">
    </form>
    <p></p>
    <form action="/dashboard" method="get">
        <input type="submit" value="Очистить фильтр">
    </form>

    <h2>Статистика по задачам</h2>
        <table border="2" cellpadding="8">
            <tr>
            <th>Всего задач: {{ statistics.total_tasks }}</th>
            <th>Выполнено: {{ statistics.completed_tasks }}</th>
            <th>В процессе выполнения: {{ statistics.pending_tasks }}</th>
            </tr>
        </table>
    <p></p>

    <button onclick="location.href='/add-task'">Добавить задачу</button>
    <p></p>
    <button onclick="location.href='/logout'">Выход</button>
</body>
</html>
