<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование задачи</title>
    <style>
        body {
            background-color: lightblue; /* Измените цвет на любой другой */
        }
    </style>
</head>
<style>
    h1 {
        color: blue;
    }
    h2 {
        color: green;
    }
    form {
    color: blue;
    }
    button {
    color: green;
    }
    input {
    color: green;
    }
</style>
<body>
    <h1>Редактирование задачи</h1>
    <form action="/edit-task/{{ task.id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ task.name }}" required>
        <p></p>
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ task.description }}</textarea>
        <p></p>
        <br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ task.category }}" required>
        <p></p>
        <br>
        <label for="data_end_plan">Planned End Date:</label>
        <input type="datetime-local" id="data_end_plan" name="data_end_plan" value="{{ task.data_end_plan.isoformat() }}" required>
        <p></p>
        <br>
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="Planned" {% if task.status =='Planned' %} selected{% endif %}>Planned</option>
            <option value="In Progress" {% if task.status == 'In Progress'%}selected{% endif %}>In Progress</option>
            <option value="Completed" {% if task.status =='Completed' %}selected{% endif %}>Completed</option>
        </select>
        <br>
        <p></p>
        <input type="submit" value="Save Changes">
        <a href="/dashboard" style="margin-left: 10px;">Cancel</a>
    </form>
</body>
</html>