<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    <style>
        body {
            background-color: lightblue; /* Измените цвет на любой другой */
        }
    </style>
</head>
<style>
    h1 {
        color: blue;
    }
    h2 {
        color: green;
    }
    form {
    color: blue;
    }
    button {
    color: green;
    }
    input {
    color: green;
    }
</style>
<body>
    <h1>Добро пожаловать в список задач</h1>
    <form action="/login" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>
        <p></p>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <p></p>
        <br>
        <input type="submit" value="Вход">
    </form>
    <p>Ещё нет аккаунта? <a href="/register">Регистрация</a></p>
</body>
</html>
